.title {
  font-family: var(--oswald);
  font-size: 3rem;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.invisible {
  opacity: 0;
}

.noDisplay {
  display: none !important;
}

.noScroll {
  overflow: hidden;
}

.scroll {
  overflow-y: scroll;
}

section {
  padding: 0 10%;
}

#hero {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}
#hero #heroTexts {
  text-align: start;
  margin: auto;
  position: absolute;
  align-self: center;
}
#hero span {
  color: var(--actionColor);
  font-weight: 600;
  font-size: 1.2rem;
}
#hero h2 {
  font-size: 4rem;
  font-family: var(--oswald);
}
#hero h3 {
  font-size: 3rem;
  opacity: 0.75;
}
#hero .scrollContainer {
  position: absolute;
  bottom: 10%;
  height: 50px;
  width: 30px;
  border: 3px solid white;
  display: block;
  border-radius: 30px;
  left: 48%;
}
#hero .scrollIndicator {
  animation: scrollIndicator 2s infinite;
  cursor: pointer;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColor);
  position: relative;
  min-height: 50vh;
}
#about p {
  max-width: 40ch;
  font-size: 1.3rem;
}
#about #aboutInfo a {
  font-family: var(--roboto);
  font-size: 1.2rem;
  color: var(--actionColor);
  cursor: pointer;
}
#about #skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#about #skills .skill {
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #000000 inset;
  border-radius: 4px;
  width: 84px;
  transition: 0.2s ease;
  transition: 0.2s ease;
}
#about #skills .skill .skillname {
  transition: 0.2s ease;
  opacity: 0;
  text-align: center;
}
#about #skills .skill .skillname p {
  height: 0px;
  font-size: 0.75rem;
  transition: 0.2s ease;
}
#about #skills .skill img {
  filter: invert(1);
  height: 64px;
  width: 64px;
}
#about #skills .skill:hover {
  box-shadow: 0px 0px 10px 1px #494949 inset;
}
#about #skills .skill:hover .skillname {
  display: inline;
  opacity: 1;
}
#about #skills .skill:hover .skillname p {
  height: 2ch;
}

#socialLinks {
  position: sticky;
  top: 80vh;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  pointer-events: none;
}
#socialLinks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
  pointer-events: all;
}
#socialLinks .links img {
  filter: brightness(0) invert(1);
  height: 30px;
  width: 30px;
  margin: 5px 0;
}
#socialLinks #email .line {
  height: 100%;
}
#socialLinks #email a {
  transform: rotateZ(-90deg) translateX(9ch) translateY(-1.5px);
}
#socialLinks .line {
  height: 164px;
  width: 2px;
  display: block;
  background-color: white;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--fontColor);
  position: relative;
  min-height: 50vh;
  flex: 1;
}
#projects .title {
  align-self: flex-start;
  margin-bottom: 25px;
}
#projects #projectsContainer {
  width: 100%;
}
#projects .project {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-bottom: 10vw;
  align-items: center;
}
#projects .project .projectInfo {
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 100%;
}
#projects .project .projectInfo .projectPrompt {
  font-size: 1.2rem;
  font-family: var(--crimson);
  color: var(--actionColor);
  opacity: 0.75;
}
#projects .project .projectInfo .projectName {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}
#projects .project .projectInfo .projectDescription {
  padding: 15px;
  background-color: var(--backColorLighter);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.562);
  margin-bottom: 20px;
  max-width: 60%;
  box-shadow: 0px 0px 3px 0px #0a1e3a;
}
#projects .project .projectInfo .techs {
  opacity: 0.8;
  font-size: 0.95rem;
}
#projects .project .projectInfo .techs .tech {
  margin: 0 5px;
}
#projects .project .projectInfo .projectLinks {
  margin-top: 15px;
}
#projects .project .projectInfo .projectLinks a {
  margin: 0 5px;
}
#projects .project .projectInfo .projectLinks img {
  height: 24px;
  width: 24px;
  filter: invert(1);
}
#projects .project .img {
  position: absolute;
  width: 60vw;
  display: flex;
}
#projects .project .img img {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
#projects .project .img.square {
  justify-content: end;
}
#projects .project:nth-of-type(odd) {
  margin-left: 0;
}
#projects .project:nth-of-type(odd) .projectInfo {
  align-items: flex-end;
}
#projects .project:nth-of-type(odd) .projectInfo .projectDescription {
  text-align: end;
}
#projects .project:nth-of-type(even) {
  flex-direction: row;
  margin: 0;
  position: relative;
}
#projects .project:nth-of-type(even) .img {
  position: absolute;
  right: 0;
}

#smallerProjects {
  margin-top: 80px;
  display: flex;
}
#smallerProjects .smallerProject {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 200px;
  overflow: hidden;
}
#smallerProjects .smallerProject img {
  min-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#smallerProjects .smallerProject .morePrompt {
  position: absolute;
  align-items: center;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.274);
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.2s ease;
}
#smallerProjects .smallerProject .morePrompt p {
  color: black;
  background-color: white;
  padding: 35px 5px;
  border-radius: 50%;
  align-self: center;
}
#smallerProjects .smallerProject .moreContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7960784314);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  text-align: center;
  justify-content: center;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages {
  height: 85vh;
  margin-top: 20px;
  position: relative;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages .biggerImage {
  min-width: 800px;
  width: 60vw;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages .imagesSmaller {
  position: fixed;
  padding: 5px;
  bottom: 16%;
  display: flex;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages .imagesSmaller img {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.39);
  opacity: 0.5;
  transition: 0.2s ease;
  margin: 0 5px;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages .imagesSmaller img:hover {
  opacity: 1;
}
#smallerProjects .smallerProject .moreContainer .miniProjectImages .imagesSmaller .imgActive {
  opacity: 1;
}
#smallerProjects .smallerProject .moreContainer .miniProjectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}
#smallerProjects .smallerProject .moreContainer .miniProjectInfo a img {
  height: 24px;
  width: 24px;
  filter: brightness(0) invert(1);
}
#smallerProjects .smallerProject:hover .morePrompt {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 99;
}

#contact {
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  margin-bottom: 0;
}
#contact p {
  width: 50ch;
  font-size: 1.3rem;
  margin: 10px 0;
}
#contact button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--actionColor);
  border-radius: 3px;
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
#contact button:hover {
  background: rgb(29, 218, 107);
  background: linear-gradient(90deg, rgb(29, 218, 107) 36%, rgb(48, 133, 83) 85%);
  color: black;
}

@keyframes scrollIndicator {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(14px);
  }
  100% {
    transform: translateY(3px);
  }
}
@keyframes fadeFromLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeFromRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .fade-left-animation {
    animation: fadeFromLeft 0.5s 1;
  }
  .fade-right-animation {
    animation: fadeFromRight 0.5s 1;
  }
}
@media screen and (min-width: 1400px) {
  #hero {
    max-width: none;
  }
  section {
    margin: auto;
    max-width: 1400px;
  }
}
@media screen and (max-width: 1400px) {
  canvas {
    max-width: 100vw;
    overflow: hidden;
  }
  section {
    padding: 0 10%;
  }
  #smallerProjects {
    padding: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  body {
    overflow-X: hidden;
  }
  section {
    font-size: 1rem;
    padding: 0 15%;
  }
  #hero {
    padding: 0;
    width: 100vw;
  }
  #hero #heroTexts {
    padding: 30px;
  }
  #hero h2 {
    font-size: 2.5rem;
    font-family: var(--oswald);
  }
  #hero h3 {
    font-size: 2rem;
    opacity: 0.75;
  }
  #about {
    flex-direction: column;
    justify-content: space-evenly;
  }
  #about p {
    max-width: 40ch;
    font-size: 1.3rem;
  }
  #about #skillsContainer p {
    text-align: center;
  }
  #about #aboutInfo a {
    font-family: var(--roboto);
    font-size: 1.2rem;
    color: var(--actionColor);
  }
  #about #skillsContainer {
    margin: 25px 0;
  }
  #about #skillsContainer > p {
    text-align: start;
  }
  #about #skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px 0;
  }
  #about #skills .skill {
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #000000 inset;
    border-radius: 4px;
    width: 70px;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease;
  }
  #about #skills .skill .skillname {
    transition: 0.2s ease;
    opacity: 0;
    text-align: center;
  }
  #about #skills .skill .skillname p {
    height: 0px;
    font-size: 0.75rem;
    transition: 0.2s ease;
  }
  #about #skills .skill img {
    filter: invert(1);
    height: 32px;
    width: 32px;
  }
  #about #skills .skill:hover {
    box-shadow: 0px 0px 10px 1px #494949 inset;
  }
  #about #skills .skill:hover .skillname {
    display: inline;
    opacity: 1;
  }
  #about #skills .skill:hover .skillname p {
    height: 2ch;
  }
  #projects > p {
    margin: 10px 0;
  }
  #smallerProjects {
    padding: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
  #contact p {
    text-align: center;
    width: 40ch;
    font-size: 1rem;
  }
  #socialLinks {
    display: none;
  }
  #smallerProjects {
    padding: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #smallerProjects .smallerProject {
    cursor: pointer;
    position: relative;
    width: 180px;
    height: 180px;
  }
  #smallerProjects .smallerProject .morePrompt {
    width: 100%;
    height: 100%;
  }
  #smallerProjects .smallerProject .moreContainer {
    height: 100vh;
    width: 100%;
  }
  #smallerProjects .smallerProject .moreContainer .miniProjectImages .biggerImage {
    min-width: auto;
  }
}/*# sourceMappingURL=index.css.map */