// Hero Section


#hero{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

canvas {
    display: block;
}

#hero #heroTexts{
    text-align: start;
    margin: auto;
    position: absolute;
    align-self: center;
}

#hero span{
    color: var(--actionColor);
    font-weight: 600;
    font-size: 1.2rem;
}

#hero h2{
    font-size: 4rem;
    font-family: var(--oswald);
}

#hero h3{
    font-size: 3rem;
    opacity: .75;
}

#hero .scrollContainer{
    position: absolute;
    bottom: 10%;
    height: 50px;
    width: 30px;
    border: 3px solid white;
    display: block;
    border-radius: 30px;
    left: 48%;
}

#hero .scrollIndicator{
    animation: scrollIndicator 2s infinite;
}

#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--fontColor);
    position: relative;
    min-height: 60vh;
    padding: 0 10%;
}


.title{
    font-family: var(--oswald);
    font-size: 3rem;
    padding-left: 10px;
}

#about p{
    max-width: 40ch;
    font-size: 1.3rem;
}

#about #aboutInfo a{
    font-family: var(--roboto);
    font-size: 1.2rem;
    color: var(--actionColor);
}


@keyframes scrollIndicator {
    0% {
            transform: translateY(3px);
        }
    
        50% {
            transform: translateY(14px);
        }
        100% {
            transform: translateY(3px);
        }
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--fontColor);
    position: relative;
    min-height: 60vh;
    padding: 0 10%;
    .title{
        align-self: flex-start;
        margin-bottom: 25px;
    }
    .project{
        display: flex;
        width: 100%;
        min-height: 300px;
        margin-bottom: 10vw;
        max-width: 1200px;
        align-items: center;
        .projectInfo{
            display: flex;
            flex-direction: column;
            justify-self: right;
            z-index: 100;
            .projectPrompt{
                font-size: 1.2rem;
                font-family: var(--crimson);
                color: var(--actionColor);
                opacity: .75;
            }
            .projectName{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 25px;
            }
            .projectDescription{
                padding: 15px;
                background-color: var(--backColorLighter);
                border-radius: 4px;
                color: rgba(255, 255, 255, 0.562);
                margin-bottom: 20px;
                max-width: 60%;
                box-shadow: 0px 0px 3px 0px #0a1e3a;
            }
            .techs{
                opacity: .5;
                font-size: .95rem;
                .tech{
                    margin: 0 5px;
                }
            }
            .projectLinks{
                margin-top: 15px;
                a{
                    margin: 0 20px;
                }
                img{
                    height: 24px;
                    width: 24px;
                    filter:invert(1);
                }
            }
        }
        
        .img{
            position: absolute;
            img{
                width: 60vw;
                max-width: 700px;
                object-fit: contain;
            }
        }
    }
    .project:nth-of-type(odd) {
        margin-left: 0;
        .projectInfo{
            align-items: flex-end;
            .projectDescription{
                text-align: end;
            }
        }
    }

    .project:nth-of-type(even) {
        flex-direction: row;
        margin: 0;
        position: relative;        
        .img{
                position: absolute;
                right: 0;
            }
    }
    
}
