.title {
  font-family: var(--oswald);
  font-size: 3rem;
  padding-left: 10px;
}

#hero {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}
#hero #heroTexts {
  text-align: start;
  margin: auto;
  position: absolute;
  align-self: center;
}
#hero span {
  color: var(--actionColor);
  font-weight: 600;
  font-size: 1.2rem;
}
#hero h2 {
  font-size: 4rem;
  font-family: var(--oswald);
}
#hero h3 {
  font-size: 3rem;
  opacity: 0.75;
}
#hero .scrollContainer {
  position: absolute;
  bottom: 10%;
  height: 50px;
  width: 30px;
  border: 3px solid white;
  display: block;
  border-radius: 30px;
  left: 48%;
}
#hero .scrollIndicator {
  -webkit-animation: scrollIndicator 2s infinite;
          animation: scrollIndicator 2s infinite;
}

canvas {
  display: block;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColor);
  position: relative;
  min-height: 60vh;
  padding: 0 10%;
}
#about p {
  max-width: 40ch;
  font-size: 1.3rem;
}
#about #aboutInfo a {
  font-family: var(--roboto);
  font-size: 1.2rem;
  color: var(--actionColor);
}

@-webkit-keyframes scrollIndicator {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(14px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes scrollIndicator {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(14px);
  }
  100% {
    transform: translateY(3px);
  }
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--fontColor);
  position: relative;
  min-height: 60vh;
  padding: 0 10%;
}
#projects .title {
  align-self: flex-start;
  margin-bottom: 25px;
}
#projects .project {
  display: flex;
  width: 100%;
  min-height: 300px;
  margin-bottom: 10vw;
  max-width: 1200px;
  align-items: center;
}
#projects .project .projectInfo {
  display: flex;
  flex-direction: column;
  justify-self: right;
  z-index: 100;
}
#projects .project .projectInfo .projectPrompt {
  font-size: 1.2rem;
  font-family: var(--crimson);
  color: var(--actionColor);
  opacity: 0.75;
}
#projects .project .projectInfo .projectName {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
}
#projects .project .projectInfo .projectDescription {
  padding: 15px;
  background-color: var(--backColorLighter);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.562);
  margin-bottom: 20px;
  max-width: 60%;
  box-shadow: 0px 0px 3px 0px #0a1e3a;
}
#projects .project .projectInfo .techs {
  opacity: 0.5;
  font-size: 0.95rem;
}
#projects .project .projectInfo .techs .tech {
  margin: 0 5px;
}
#projects .project .projectInfo .projectLinks {
  margin-top: 15px;
}
#projects .project .projectInfo .projectLinks a {
  margin: 0 20px;
}
#projects .project .projectInfo .projectLinks img {
  height: 24px;
  width: 24px;
  filter: invert(1);
}
#projects .project .img {
  position: absolute;
}
#projects .project .img img {
  width: 60vw;
  max-width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}
#projects .project:nth-of-type(odd) {
  margin-left: 0;
}
#projects .project:nth-of-type(odd) .projectInfo {
  align-items: flex-end;
}
#projects .project:nth-of-type(odd) .projectInfo .projectDescription {
  text-align: end;
}
#projects .project:nth-of-type(even) {
  flex-direction: row;
  margin: 0;
  position: relative;
}
#projects .project:nth-of-type(even) .img {
  position: absolute;
  right: 0;
}

#smallerProjects {
  margin: 0 10%;
  margin-top: 80px;
  display: flex;
}
#smallerProjects .smallerProject {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
}
#smallerProjects .smallerProject .morePrompt {
  position: absolute;
  align-items: center;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.274);
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.2s ease;
}
#smallerProjects .smallerProject .morePrompt p {
  color: black;
  background-color: white;
  padding: 35px 5px;
  border-radius: 50%;
  align-self: center;
}
#smallerProjects .smallerProject:hover .morePrompt {
  opacity: 1;
}

#contact {
  margin: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact p {
  width: 50ch;
  font-size: 1.3rem;
}
#contact button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--actionColor);
  border-radius: 3px;
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 15px;
  color: white;
}/*# sourceMappingURL=index.css.map */