@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
::-webkit-scrollbar {
  width: 8px;
  padding: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1b304d;
  padding: 5px;
  border-radius: 12px;
  width: 8px;
}

:root {
  --roboto: "Roboto",
      sans-serif;
  --oswald: "Oswald",
      sans-serif;
  --crimson: "Crimson Text", serif;
  --fontColor: white;
  --actionColor: #1dda6b;
  --actionLighter: #61db94;
  --actionDarker: #308553;
  --backColor: #050e1b;
  --backColorLighter: #0a1d36;
  --navColor: #010813;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--fontColor);
}

body {
  background-color: var(--backColor);
  overflow-x: hidden;
}

html {
  font-family: var(--roboto);
}

a {
  text-decoration: none;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  position: sticky;
  top: 0;
  box-shadow: 0 7px 20px -7px black;
  z-index: 99;
  background-color: inherit;
  align-items: center;
  z-index: 999;
  background-color: var(--navColor);
}

nav > #links {
  display: flex;
}
nav > #links a {
  cursor: pointer;
}

nav a {
  position: relative;
  z-index: 111;
  margin-left: 8px;
}

nav a::before {
  position: absolute;
  display: block;
  background-color: var(--actionDarker);
  height: 6px;
  width: 0px;
  content: " ";
  bottom: 0;
  z-index: -10;
  transition: 0.2s ease-in;
}

nav a:hover::before {
  width: 95%;
}

nav > div:first-of-type {
  font-size: 1.6rem;
}

nav a {
  padding: 0 5px;
}

.hamburger {
  display: none;
}

.mobileLinksContainer {
  display: none;
}

@media screen and (min-width: 1400px) {
  nav {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 600px) {
  nav #links {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .mobileLinks {
    display: inline;
  }
  .mobileLinks #mobileSocials {
    margin-top: 25px;
  }
  .mobileLinks #mobileSocials a:hover::before {
    display: none;
  }
  .mobileLinks img {
    filter: brightness(0) invert(1);
    height: 24px;
    width: 24px;
  }
  .hamburger {
    height: 28px;
    cursor: pointer;
  }
  .hamburger span {
    height: 1px;
    width: 25px;
    background-color: white;
    display: block;
    margin-top: 5px;
    z-index: 9999999;
    transition: 0.2s ease;
  }
  .hamburgerActive span:first-of-type {
    transform: rotateZ(45deg) translateX(5px) translateY(5px);
  }
  .hamburgerActive span:last-of-type {
    transform: rotateZ(-45deg) translateY(-3px) translateX(3px);
  }
  .hamburgerActive span:nth-of-type(2) {
    opacity: 0;
  }
  .mobileLinksContainer {
    display: none;
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: -9;
  }
  .mobileLinks {
    position: fixed;
    background-color: var(--backColorLighter);
    top: 0;
    right: 0;
    padding: 75px 15px;
    display: flex;
    flex-direction: column;
  }
  .mobileLinks a {
    margin-top: 15px;
    cursor: pointer;
  }
  .mobileLinksActive {
    display: block;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}/*# sourceMappingURL=root.css.map */